<div class="w-full h-[550px] relative shadow-lg bg-white p-6 flex flex-col items-center">
  <img src="assets/images/Image.png" alt="image" class="max-h-[240px] w-full mb-8">
  <div class="flex flex-col gap-3">
    <div class="text-primary text-sm font-medium">
      Design
    </div>
    <div class="flex items-center justify-between">
      <h3 class="text-ebonyClay text-2xl font-medium">UX review presentations</h3>
      <img src="assets/images/icons/arrow-right.svg" alt="arrow-right">
    </div>
    <div class="text-mistBlue leading-6 line-clamp-3">How do you create compelling presentations that wow your colleagues and impress your managers? How do you create compelling presentations that wow your colleagues and impress your managers?</div>
  </div>

  <div class="absolute bottom-6 left-6 flex items-center justify-center gap-3 w-fit">
    <div class="w-10 h-10 rounded-full bg-lavenderMist"></div>
    <div class="flex flex-col gap-1">
      <h4 class="text-ebonyClay text-sm font-medium">John Doe</h4>
      <div class="text-mistBlue text-sm">
        20 Jan 2022
      </div>
    </div>
  </div>
</div>
