<section>
  <header class="min-h-96 p-6 bg-romance flex flex-col items-center justify-center">
    <div class="py-1 px-3 rounded-full bg-primary bg-opacity-10-pct text-primary text-sm">Our blog</div>
    <h1 class="text-secondary text-4xl font-medium mt-4 mb-6">Resources and insights</h1>
    <p class="text-primary text-center text-lg">
      The latest industry news, interviews, technologies, and resources.
    </p>
  </header>
  <div class="relative w-full">
    <div class="min-h-96 absolute inset-0 bg-[url('/assets/images/patterns/background-pattern.png')] bg-no-repeat bg-cover opacity-10">
      <blog-card />
    </div>
  </div>
</section>
